body{
    background-color: #EDF5E0;
}

.globalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.covImage{
    width: 60%;
    margin-top: 50px;
    height: 250px;
}